@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body{
  background-image:url('OPTIONS (1).jpg');
  background-position: center;
  background-size: cover;
  /*background-color:black;*/
}
.inputt{
  width: 90%;
  height: 50px;
}
.submitbtn{
  width: 120px;
  height: 50px;
  color: red;
  background-color: dodgerblue;
  border: none;
  border-radius: 2px;
}
.submitbtn:active{
  background-color: red;
  color: dodgerblue;
}
form{
  padding-bottom: 60px;
}
h1{
font-family: 'Raleway', sans-serif;
font-weight: bold;
color: white;
padding-top: 20px;
margin-bottom: none;
/* text-shadow: 1px 1px 2px dodgerblue; */
}
.more{
  padding-top: 0px;
  padding-bottom: 0px; 
  color:white
}
h2,h3,h4,p{
font-family: 'Raleway', sans-serif;
  color: black;
  margin-top:0;
padding-top: 50px;}
.credit{
  text-decoration: none;
  color:red;
  font-weight: bold;
}
.credit:hover{
  color:gold
}
footer{
  background-color: dodgerblue!important;
  position: absolute;
  width: 100%;
}
.footerc{
  margin-right: 10px;
  text-align: center;
}
