@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@media only screen and (max-width: 600px) {
 body{
   background-image: url('OPTIONS (1).jpg') !important; 
   background-color: black;
   background-size: cover;
  margin-top: 0;
  padding-top: 0;
}
}

body{
   background-image: url('OPTIONS (1).jpg') !important; 
   background-color: black;
   background-size: cover;
  margin-top: 0;
  padding-top: 0;
}
.inputt{
font-family: 'Raleway', sans-serif;
  width: 85%;
  height: 50px;
  background-color: transparent;
}
/* @keyframes kennedy{
  0%{
    background-image: url(49068276593_864e9697a2_k.jpg);
  }
   80%{
    background-image: url(49068700676_2ed0e52f02_k.jpg);
  }
} */

.submitbtn{
  width: 120px;
  height: 50px;
  color: red;
  background-color: dodgerblue;
  border: none;
  border-radius: 2px;
}
.submitbtn:active{
  background-color: red;
  color: dodgerblue;
}
form{
  padding-bottom: 60px;
}
h1{
font-family: 'Raleway', sans-serif;
font-weight: bold;
color: white;
padding-top: 20px;
margin-bottom: none;
/* text-shadow: 1px 1px 2px dodgerblue; */
}
.more{
  padding-top: 0px;
  padding-bottom: 0px; 
  color:white
}
h2,h3,h4,p{
font-family: 'Raleway', sans-serif;
  color: black;
  margin-top:0;
padding-top: 50px;}
.credit{
  text-decoration: none;
  color:red;
  font-weight: bold;
}
.credit:hover{
  color:gold
}
footer{
  background-color: dodgerblue!important;
  position: absolute;
  width: 100%;
}
.footerc{
  margin-right: 10px;
  text-align: center;
}
